<div id="navbar" class="container-fluid">
  <nav class="navbar navbar-expand-md bg-primary fixed-bottom ">
    <div class="container-fluid">
      <div id ="image_change"></div>
      <a class="navbar-brand mb-0 h1"  style="padding-left: 20px;"><div class="song_name_fo">lOVE ME THORA AUR</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          
          <div class="icons" style="padding-right: 100px; padding-top: 10px;">
      
                <!-- <i onclick="prevTrack()" class="fa fa-step-backward fa-2x prev-track" style="width: 10rem;"></i>
                <span class="playpause-track" onclick="playpauseTrack()"><i class="fa fa-pause-circle fa-2x" ></i></span>
                <i onclick="nextTrack()" class="fa fa-step-forward fa-2x next-track" style="width: 10rem;" ></i> -->

                <span  style="padding-top: 30px;" class="prev-track" onclick="prevTrack()">
                  <i class="fa fa-step-backward fa-2x"></i>
                </span>
                <span  style="padding-top: 30px;" class="playpause-track" onclick="playpauseTrack()">
                  <i class="fa fa-play-circle fa-2x"></i>
                </span>
                <span  style="padding-top: 30px;" class="next-track" onclick="nextTrack()">
                  <i class="fa fa-step-forward fa-2x"></i>
                </span>

           
        </div>
        <a class="navbar-brand mb-0 h3" style="padding-top: 10px;" href="/queue">queue</a>
      </ul>
</div>
  </div>
</nav>
</div>

<script>console.log()</script>

<script src="../js/footer.js"></script>