<%- include("header") -%>


    <div id="start" class="container-fluid">
        <!-- Recently played -->
      <!-- <% if(hist!=''){%> -->
        <div class="swiper mySwiper Recommended">
            <div class="col-lg-6">
                <h3 class="mb-3">Recently played</h3>
            </div>
            <div class="swiper-wrapper" id="recently_id">
                <div class="swiper-slide Recommended-slide">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" style="height: 12rem;" src="../img/IMG20220519111015.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                         </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div> 
        <!-- <%}%> -->

        <!--Songs -->
        <div class="swiper mySwiper Recommended">
            <div class="col-lg-6">
                <h3 class="mb-3"><a class="navbar-brand mb-3 h1" href ="seeall/loop">Songs</a></h3>
            </div>
            <div class="swiper-wrapper" id="song_id">
                <div class="swiper-slide Recommended-slide">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" style="height: 12rem;" src="../img/IMG20220519111015.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <br>
        <hr><br>


        <!-- TOP rock songs -->

        <div class="swiper mySwiper Recommended">
            <div class="col-lg-6">
                <h3 class="mb-3"><a class="navbar-brand mb-0 h1" href ="seeall/rock">Rock</a></h3>
            </div>
            <div class="swiper-wrapper" id="rock_id">

                <div class="swiper-slide Recommended-slide">
                    <div class="card" style="width: 18rem; height: 18rem;">
                        <img class="card-img-top" src="../img/IMG20220519111015.jpg" alt="Card image cap">
                        <!-- <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        <br>
        <hr><br>

        <!-- Romance -->
        <div class="swiper mySwiper Recommended">
            <div class="col-lg-6">
                <h3 class="mb-3"><a class="navbar-brand mb-0 h1" href ="seeall/romance">Romance</a></h3>
            </div>
            <div class="swiper-wrapper" id="romance_id">

                <div class="swiper-slide Recommended-slide">
                    <div class="card" style="width: 18rem; height: 18rem;">
                        <img class="card-img-top" src="../img/IMG20220519111015.jpg" alt="Card image cap">
                        <!-- <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>


        <br>
        <hr><br>

        <!-- pop -->
        <div class="swiper mySwiper Recommended">
            <div class="col-lg-6">
                <h3 class="mb-3"><a class="navbar-brand mb-0 h1" href ="seeall/pop">POP</a></h3>
            </div>
            <div class="swiper-wrapper" id="POP_id">

                <div class="swiper-slide Recommended-slide">
                    <div class="card" style="width: 18rem; height: 18rem;">
                        <img class="card-img-top" src="../img/IMG20220519111015.jpg" alt="Card image cap">
                        <!-- <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>


        <br>
        <hr><br>



        <!-- Artist playlist here -->

        <div id="making-slider">
            <div class="slide-container swiper">
                <div class="col-lg-6">
                    <h3 class="mb-3">ARTIST PLAYLIST</h3>
                </div>
                <div class="slide-content">
                    <div class="card-wrapper swiper-wrapper" id="artist_id">

                        <!-- guru randhawa -->
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="../img/guru.jpg" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Guru Randhawa</h2>
                                <p class="description"> Guru Randhawa, is a Punjabi pop singer and a songwriter. He shot to fame with his song 'High Rated Gabru..</p>

                                <a href="/seeall/guru_r"><button class="button" >View playlist</button></a>
                            </div>
                        </div>

                        <!-- hardy sandhu -->
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="../img/hardy.jpeg" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Harrdy Sandhu</h2>
                                <p class="description">The lorem text the section that contains header with having open
                                    functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                                <a  href="/seeall/hardy_sandhu"><button class="button">View playlist</button></a>
                            </div>
                        </div>
                        
                        <!-- jasmank -->
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="../img/jsmanak.jpg" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Jass Manak</h2>
                                <p class="description">Jaspreet Singh Manak is an Indian singer-songwriter. He is known predominantly for the songs Prada, Suit Punjabi, Lehanga, Viah and Boss</p>

                                <a href="/seeall/jmanak_f"><button class="button">View playlist</button></a>
                            </div>
                        </div>

                        <!-- swift -->
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="../img/swift.jpg" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Taylor Swift</h2>
                                <p class="description">The lorem text the section that contains header with having open
                                    functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                                    <a href="/seeall/swift"><button class="button">View playlist</button></a>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div> -->
                <!-- <div class="swiper-paginationnn"></div> -->
            </div>
        </div>

        <br>
        <hr>
        <br>


      
        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000"
            style="text-align: center;">
            <h2><strong>Developed By</strong></h2>
            <p class="credits-text">Ms. Himanshi Sharma</p>
            <p class="credits-text">Mr. Shashank Singh</p>
            <p class="credits-text">Mr. Ankit Gupta</p>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <br>



    </div>


    <!-- Start of Script Tags -->

    <!-- Swiper JS -->
    <script src="../js/swiper-bundle.min.js"></script>

    <!-- JavaScript -->
    <script src="../js/home/artist.js"></script>
    <script src="../js/home/artist_display.js"></script>

    <!-- <script>console.log(title)</script> -->
    <!-- home -->
    <script src="../js/home/home.js"></script>
    <script>historyofsong('<%=hist%>')</script>

    <!-- End of Script Tags -->
    <%- include("footer") -%>

        </body>

        </html>