<%- include("header") -%>
<script src="https://kit.fontawesome.com/7c21f95028.js" crossorigin="anonymous"></script>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Your Playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="add_modal_byme">
          <h3>No Playlist</h3>
      </div>
    </div>
  </div>
</div>
    
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Track</th>
        <th scope="col">Artist</th>
        <th>Playlist</th>
        <th>Like</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody id = "seeall_id">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td><button data-modal-target="#modal">Open Modal</button></td>
        <td><i class="fa-regular fa-heart"></i></td>
        <td>0</td> 
      </tr>
    </tbody>
  </table>

  <script src="../js/seeall.js"> </script>
  <script>seeall('<%=id%>','<%=lkSongs%>')</script>

<%- include("footer") -%>